.card-whithout-bg {
    border: none;
    background-color: transparent;
    margin-bottom: 0;
    min-height: 0;
    padding: 0;

    form[action="."] {
        margin: 0;
    }
}

#page-course-view-softcourse {
    #region-main {
        &:not(.has-blocks) {
            width: calc(100% - 265px);
            @media (max-width: 1199px) {
                width: 100%
            }
        }
        & > .card {
            @extend .card-whithout-bg;
            padding-top: 0;

            .course-content {
                #softcourse-introduction {
                    padding: 30px;

                    #softcourse-start-button {
                        max-width: 220px;
                        margin-top: 15px;
                        button {
                            width: 100%;
                        }
                    }
                }

                #softcourse-sections {
                    margin-top: 50px;
                    padding: 0;

                    #softcourse-tabs {
                        padding-left: 0;

                        & > a {
                            color: inherit;
                            text-decoration: none;

                            .softcourse-section {
                                padding: 0;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                margin-top: 15px;
                                transition: box-shadow 0.5s ease;

                                &:hover {
                                    cursor: pointer;
                                    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .15),
                                        0 4px 5px 0 rgba(0, 0, 0, .14),
                                        0 1px 10px 0 rgba(0, 0, 0, .12);

                                    .softcourse-section-img {
                                        span,
                                        .update-img,
                                        .delete-img {
                                            opacity: 0.75;
                                        }
                                    }

                                    .softcourse-section-body {
                                        .progress,
                                        .progress-percent,
                                        .fa-leanpub,
                                        .softcourse-activities-count,
                                        .update-img,
                                        .delete-img {
                                            opacity: 1;
                                        }
                                    }
                                }

                                &:active {
                                    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
                                        0 8px 10px 1px rgba(0, 0, 0, .14),
                                        0 3px 10px 2px rgba(0, 0, 0, .12);
                                }

                                .softcourse-section-img {
                                    display: inline-block;
                                    width: 250px;
                                    height: 150px;
                                    background-color: unquote("brandcolor");
                                    @media only screen and (max-width: 710px) {
                                        width: 50px;
                                        background-image: none!important;
                                    }
                                    & > span {
                                        display: inline-block;
                                        position: absolute;
                                        color: white;
                                        text-transform: uppercase;
                                        bottom: 10px;
                                        left: 0;
                                        font-size: 1.2rem;
                                        width: 250px;
                                        text-align: center;
                                        opacity: 0;
                                        transition: opacity 0.5s ease;

                                        @media only screen and (max-width: 710px) {
                                            top: 65px;
                                            width: 50px;
                                            font-size: 1.5rem;

                                            span {
                                                display: none;
                                            }
                                        }
                                    }

                                    & > i {
                                        @media only screen and (max-width: 710px) {
                                            display: none;
                                        }
                                    }

                                    .update-img {
                                        display: inline-block;
                                        position: absolute;
                                        color: white;
                                        font-size: 1.2rem;
                                        top: 0;
                                        left: 200px;
                                        opacity: 0;
                                        transition: opacity 0.5s ease;
                                        width: 50px;
                                        height: 50px;

                                        &:hover,
                                        &:hover::before {
                                            cursor: pointer;
                                        }

                                        &::before {
                                            padding: 15px;
                                            position: absolute;
                                        }

                                        input[type="file"] {
                                            position: absolute;
                                            opacity: 0;
                                            width: 50px;
                                            height: 50px;
                                            left: 0;

                                            &:hover {
                                                cursor: pointer;
                                            }
                                        }
                                    }

                                    .delete-img {
                                        display: inline-block;
                                        position: absolute;
                                        color: white;
                                        font-size: 1.2rem;
                                        top: 50px;
                                        left: 200px;
                                        opacity: 0;
                                        transition: opacity 0.5s ease;
                                        width: 50px;
                                        height: 50px;

                                        &:hover,
                                        &:hover::before {
                                            cursor: pointer;
                                        }

                                        &::before {
                                            padding: 15px;
                                            position: absolute;
                                        }

                                        input[type="button"] {
                                            position: absolute;
                                            opacity: 0;
                                            width: 50px;
                                            height: 50px;
                                            left: 0;

                                            &:hover {
                                                cursor: pointer;
                                            }
                                        }
                                    }

                                    &:not(.not-empty)::before {
                                        content: "\f19d";
                                        font-family: "FontAwesome";
                                        position: absolute;
                                        color: white;
                                        font-size: 100px;
                                        left: 60px;
                                        top: -15px;
                                        transition: top 0.5s ease;
                                    }
                                }

                                .softcourse-section-body {
                                    display: inline-block;
                                    height: 150px;
                                    padding-left: 50px;
                                    flex: 1;

                                    .softcourse-section-name {
                                        display: inline-block;
                                        position: absolute;
                                        top: 10px;
                                        font-size: 1.2rem;
                                        text-decoration: none;
                                        padding-right: 15px;
                                        max-height: 30px;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                    }

                                    .softcourse-section-summary {
                                        display: inline-block;
                                        position: absolute;
                                        top: 40px;
                                        padding-right: 15px;
                                        max-height: 75px;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        font-size: 0.75rem;
                                    }

                                    .fa-leanpub {
                                        position: absolute;
                                        bottom: 15px;
                                        color: unquote("brandcolor");
                                        opacity: 0;
                                        transition: opacity .5s ease;
                                        font-size: 1rem;

                                        &::before {
                                            font-size: 1.2rem;
                                        }
                                    }

                                    .softcourse-activities-count {
                                        position: absolute;
                                        bottom: 11px;
                                        left: 327px;
                                        @media only screen and (max-width: 710px) {
                                            left: 127px;
                                        }
                                        color: unquote("brandcolor");
                                        opacity: 0;
                                        transition: opacity .5s ease;
                                        font-size: 1rem;
                                    }
                                    .progress {
                                        display: inline-flex;
                                        width: calc(100% - 450px);
                                        position: absolute;
                                        bottom: 15px;
                                        right: 55px;
                                        opacity: 0;
                                        transition: opacity .5s ease;

                                        @media only screen and (max-width: 710px) {
                                            width: calc(75% - 150px);
                                        }

                                        .progress-bar {
                                            display: inline-flex;
                                        }
                                    }

                                    .progress-percent {
                                        bottom: 13px;
                                        position: absolute;
                                        color: unquote("brandcolor");
                                        margin-left: 5px;
                                        right: 15px;
                                        opacity: 0;
                                        transition: opacity .5s ease;
                                    }
                                }
                            }
                        }
                    }
                }

                #ul.softcourse {
                    margin: 0;
                    list-style: none;

                    li.section {
                        .content {
                            margin: 0 40px;
                        }

                        .left,
                        .right {
                            width: 40px;
                            padding: 0 6px;
                        }

                        .left {
                            padding-top: 22px;
                            text-align: right;

                            .section-handle img.icon {
                                padding: 0;
                                vertical-align: baseline;
                            }
                        }

                        .section_action_menu {
                            .textmenu,
                            .menu-action-text {
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }

            &.jsenabled {
                .course-content {
                    ul.softcourse {
                        li.section {
                            .left,
                            .right {
                                width: auto;
                            }
                        }

                    }
                }
            }
        }
    }

    &.editing {
        ul.softcourse {
            li.section {
                list-style-type: none;

                .side {
                    &.left,
                    &.right {
                        margin: 1rem;
                    }
                }

                .summary {
                    padding: 1rem;
                }

            }
        }
    }
}