<div id="softcourse-introduction" class="card">
    <div id="softcourse-summary">{{{ summary }}}</div>
    <a id="softcourse-start-button" {{#start_url}} href="{{ start_url }}" {{/start_url}}>
        <button class="btn btn-secondary" {{#disabledStart}}{{disabledStart}}{{/disabledStart}}>{{ start }}</button>
    </a>
</div>