<div id="softcourse-introduction" class="card">
    <h1 id="softcourse-name">{{ name }}</h1>
    <div id="softcourse-summary">{{{ summary }}}</div>
    <a id="softcourse-start-button" href="{{ start_url }}"><button class="btn btn-secondary">{{ start }}</button></a>
</div>