<div id="softcourse-sections">
    <ul id="softcourse-tabs">
        {{$ initialsection }}
            {{#initialsection}}
                {{> format_softcourse/section }}
            {{/initialsection}}
        {{/ initialsection}}
        {{$ sections }}
            {{# sections}}
                {{^skip}}
                    {{> format_softcourse/section }}
                {{/skip}}
            {{/sections}}
        {{/ sections}}
    </ul>
</div>